{{#> layouts/main title="Nova - WebPack, Gulp, HandleBars, and Express Powered Static Website Builder" }}
  {{#*inline "body-block"}}
    <h1>Ohai Worldz! We are LIVE!</h1>
	<p>I can haz templait?</p>
  {{/inline}}
{{/layouts/main}}
