{{#> layouts/main title="Nova - WebPack, Gulp, HandleBars, and Express Powered Static Website Builder" }}
  {{#*inline "body-block"}}
    <!-- Page Content -->
    <div class="container">
      <h1>Ohai World!</h1>
      <p>I can haz templait?</p>
    </div>
    {{/inline}}
    {{/layouts/main}}
